@font-face {font-family: 'OpenSans Regular'; src: url('../fonts/OpenSans-Regular.ttf');}
@font-face {font-family: 'OpenSans SemiBold'; src: url('../fonts/OpenSans-Semibold.ttf');}
@font-face {font-family: 'OpenSans Light'; src: url('../fonts/OpenSans-Light.ttf');}
@font-face {font-family: 'OpenSans ExtraBold'; src: url('../fonts/OpenSans-ExtraBold.ttf');}

/* general rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "OpenSans Light", sans-serif;
    color: #1b1b1b;
    line-height: 1.3;
}
a, button, input[type="submit"] {
    cursor: pointer;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
a, a:active {
    outline: none;
    border: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input, input:hover, input:active, input:focus {
    outline: none;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    padding-bottom: 235px;
    position: relative;
    overflow: hidden;
}

.block-content {
    width: 100%;
    max-width: 1170px;
    padding: 0 1.5%;
    margin: 0 auto;
}
.main-catalog {
    padding-right: 0;
}

.form-field::-webkit-input-placeholder {font-size: 18px;color: #fadc26;opacity: 1;}
.form-field::-moz-placeholder {font-size: 18px;color: #fadc26;opacity: 1;}
.form-field:-moz-placeholder {font-size: 18px;color: #fadc26;opacity: 1;}
.form-field:-ms-input-placeholder {font-size: 18px;color: #fadc26;opacity: 1;}

.form-field:focus::-webkit-input-placeholder {color: transparent;}
.form-field:focus::-moz-placeholder {color: transparent;}
.form-field:focus:-moz-placeholder {color: transparent;}
.form-field:focus:-ms-input-placeholder {color: transparent;}

img {
    display: block;
}

ul li {
    display: inline-block;
}

.left-column {
    float: left;
}
.right-column {
    float: right;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

h1 {

}

h2 {

}

/* header */
.header-top {
    background: #fadc26;
    text-align: center;
}
.header-top .text {
    display: inline-block;
    margin: 1% 0;
    font-family: "OpenSans SemiBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
}
.header-top .text:nth-child(2) {
    margin: 1% 12.5%;
}
.icon-star {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url('../images/icon-star.png') no-repeat center;
    background-size: cover;
    margin-right: 10px;
}
.header-bottom {
    background: #1b1b1b;
}
.header-bottom .block-content {
    padding: 0;
    position: relative;
}
.mobile-menu {
    display: none;
    position: relative;
}
.mobile-sub-menu {
    display: block;
    width: 260px;
    position: absolute;
    left: -1000px;
    top: 0;
    background: #1f1f1f;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 1;
}
.mobile-sub-menu.active {
    left: 0;
}
.mobile-sub-menu .close-marker {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 15px;
    background: url('../images/icon-close-marker.png') no-repeat center;
    background-size: cover;
    z-index: 1;
}
.header-bottom .left-column {
    width: 33%;
    text-align: right;
    margin-left: 1.5%;
}
.logo {
    display: block;
    width: 100%;
    padding-top: 18.39378238341969%;
    background: url('../images/logo.png') no-repeat center;
    background-size: cover;
    margin-top: 20px;
}
.mobile-catalog {
    display: none;
    width: 100%;
    background: #fadc26;
    text-align: center;
}
.mobile-catalog .title {
    display: inline-block;
    height: 40px;
    font-family: "OpenSans SemiBold", sans-serif;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    text-transform: uppercase;
}
.mobile-catalog>.title:after {
    content: '';
    display: block;
    width: 18px;
    height: 9px;
    background: url('../images/sprite-arrows.png') no-repeat left center;
    background-size: cover;
    position: absolute;
    right: -20%;
    top: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.catalog-menu {
    display: inline-block;
    position: relative;
    margin: 5px 8% 15px 0;
}
.catalog-menu .title {
    color: #ffffff;
    font-size: 18px;
    padding: 5px 25px 5px 0;
    cursor: pointer;
}
.catalog-menu .title:after, .phones .title:after, .info-menu .title:after {
    content: '\25bc';
    display: block;
    font-size: 12px;
    height: 12px;
    position: absolute;
    margin: auto;
    right: 7px;
    top: 2px;
    bottom: 0;
    line-height: 1;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.catalog-menu:hover .title {
    color: #fadc26;
}
.catalog-menu:hover .title:after, .phones:hover .title:after, .info-menu:hover .title:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.catalog-menu .sub-menu {
    display: none;
    width: 330px;
    text-align: left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    padding: 15px 20px;
    background: #1b1b1b;
}
.for-children .sub-menu {
    left: auto;
    right: 0;
}
.catalog-menu .sub-menu li {
    display: block;
    margin: 5px 0;
}
.catalog-menu .sub-menu li a {
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    cursor: pointer;
}
.catalog-menu .sub-menu li a:hover {
    color: #fadc26;
}
.catalog-menu:hover .sub-menu, .phones:hover .sub-menu, .info-menu:hover .sub-menu {
    display: block;
}
.phones {
    display: inline-block;
    margin: 0 0 15px 0;
    position: relative;
}
.phones .title {
    font-family: "OpenSans Regular", sans-serif;
    color: #1b1b1b;
    font-size: 12px;
    padding: 5px 25px 3px 35px;
    background: #fadc26;
    text-transform: uppercase;
    position: relative;
}
.phones .title:before {
    content: '';
    display: block;
    height: 17px;
    width: 17px;
    background: url('../images/icon-phone.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 3px;
}
.phones .title:after {
    top: 3px;
    right: 5px;
}
.phones:hover .title {
    color: #1b1b1b;
}
.phones .sub-menu {
    display: none;
    width: 100%;
    padding: 10px 0;
    background: #fadc26;
    border-top: 2px solid #1b1b1b;
    text-align: center;
    top: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.phones .sub-menu li {
    margin: 2px 0;
    font-family: "OpenSans SemiBold", sans-serif;
    font-size: 15px;
    color: #1b1b1b;
}
.info-menu {
    display: inline-block;
    position: relative;
}
.info-menu .title {
    padding: 2px 33px;
    border: 1px solid #ffffff;
    font-size: 14px;
    color: #ffffff;
}
.info-menu .sub-menu {
    display: none;
    width: 100%;
    padding: 10px;
    background: #1b1b1b;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.info-menu .sub-menu li {
    display: block;
    margin: 5px 0;
}
.info-menu .sub-menu li a {
    display: block;
    width: 100%;
    color: #fadc26;
    font-size: 12px;
}
.header-bottom .right-column {
    width: 55%;
    position: relative;
    margin-right: 1.5%;
}
.form-search {
    display: inline-block;
    vertical-align: bottom;
    width: 60%;
    border-top: 1px solid #545454;
    position: relative;
}
.form-search input[type="text"] {
    font-size: 18px;
    color: #ffffff;
    width: 90%;
    background: transparent;
    padding: 8px 10px 8px 25px;
}
.form-search:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/sprite-search.png') no-repeat left center;
    background-size: cover;
    position: absolute;
    right: 15px;
    top: 10px;
}
.basket {
    display: inline-block;
    margin-left: 7.5%;
    border-left: 1px solid #545454;
}
.basket .goods-amount {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 0 20px 20px;
    text-align: center;
}
.basket .icon-basket {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background: url('../images/icon-cart-white.png') no-repeat center;
    background-size: cover;
}
.header-bottom .border-line {
    width: 500%;
    border-top: 1px solid #ffffff;
    position: absolute;
    left: 0;
    top: 75px;
}

/* slider */
.slider {
    padding: 0;
    position: relative;
    margin-bottom: 2%;
}
.slide, .slide a {
    display: block;
    width: 100%;
}
.slide a {
    position: relative;
    padding: 27.35042735042735% 0 0 0;
}
.slide a img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}
.slick-dots {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 25px;
}
.slick-dots li {
    margin: 3px;
}
.slick-dots button {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 4px solid #ffffff;
    background: #ffffff;
    font-size: 0;
    line-height: 0;
}
.slick-dots button:hover {
    background: #cccccc;
}
.slick-dots .slick-active button {
    background: #000000;
}

/* side panel */
.side-panel {
    width: 22%;
}
.side-panel .title {
    font-size: 18px;
    color: #ffffff;
    background: #1b1b1b;
    padding: 2.5% 10%;
}
nav ul {
    display: block;
    padding: 5% 0;
    margin-bottom: 30%;
    border: 1px solid #1b1b1b;
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    padding: 2% 7%;
    font-size: 16px;
}
nav ul li a:hover, nav ul li.active a  {
    background: #fadc26;
    text-decoration: none;
}
.news {
    margin-top: 10%;
    border: 1px solid #1b1b1b;
}
.news-image {
    display: block;
    width: 100%;
    padding-top: 50.19762845849802%;
    position: relative;
    overflow: hidden;
}
.news-image img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}
.news-title {
    display: inline-block;
    font-family: "OpenSans SemiBold", sans-serif;
    font-size: 16px;
    color: #f79c2d;
    margin: 4% 8%;
}
.news-text {
    font-size: 12px;
    padding: 0 8% 5% 8%;
}

.main-panel {
    width: 78%;
    text-align: center;
}
.product-card {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin: 0 2% 4%;

}
.product-image {
    display: block;
    width: 100%;
    padding-top: 120%;
    border: 1px solid transparent;
    border-bottom: none;
    position: relative;
}
.product-image img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 5%;
}
.product-card .product-name {
    display: block;
    width: 100%;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    padding-bottom: 2.5%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.product-card:hover .product-image {
    border: 1px solid #1b1b1b;
    border-bottom: none;
}
.product-image:hover .product-name {
    text-decoration: underline;
}
.product-card .cost {
    display: block;
    width: 45%;
    height: 45px;
    background: #1b1b1b;
    font-size: 16px;
    color: #ffffff;
    line-height: 45px;
}
.product-card .cost .cost-value {
    font-family: "OpenSans ExtraBold", sans-serif;
    color: #ffffff;
    font-size: 28px;
    line-height: 45px;
}
.product-card button {
    display: block;
    width: 55%;
    height: 45px;
    background: #f79c2d;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 45px;
    color: #ffffff;
    font-family: "OpenSans Regular", sans-serif;
    padding-left: 15%;
    position: relative;
}
.product-card button:before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background: url('../images/icon-cart-white.png') no-repeat center;
    background-size: cover;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10%;
}
.product-card button:hover {
    color: #1b1b1b;
}
.product-card button:hover:before {
    background: url('../images/icon-cart-black.png') no-repeat center;
    background-size: cover;
}
.social-links {
    display: none;
}

/* reviews */
.reviews {
    margin: 2% auto 2.5%;
}
.reviews li {
    width: 30%;
    vertical-align: top;
}
.reviews li:nth-child(2) {
    margin: 0 4.5%;
}
.reviewer-name {
    display: inline-block;
    font-family: "OpenSans Regular", sans-serif;
    font-size: 14px;
    color: #f79c2d;
}
.review-date {
    display: inline-block;
    font-size: 12px;
    color: #cfcfcf;
    margin-left: 10px;
}
.review-text {
    display: flex;
    height: 100px;
    font-size: 13px;
    border: 1px solid #dddddd;
    flex-direction: column;
    justify-content: center;
    background: #f6f6f6;
    margin-top: 4%;
    padding: 0 5%;
    position: relative;
}
.review-text .decor {
    display: block;
    width: 16px;
    height: 14px;
    background: url('../images/decor-for-review.png') no-repeat center;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: -12px;
    z-index: 1;
}


/* footer */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 235px;
    width: 100%;
}
.footer-top {
    height: 195px;
    background: #1b1b1b;
    padding-top: 1%;
}
.footer-top .title {
    font-family: "OpenSans SemiBold", sans-serif;
    font-size: 16px;
    color: #fadc26;
}
.footer-nav {
    width: 20%;
}
.footer-nav ul {
    margin-top: 10%;
}
.footer-nav ul li {
    width: 48%;
    margin: 1.5% 0;
}
.footer-nav ul li a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
}
.footer-top .delivery {
    width: 55%;
    text-align: center;
}
.image-map {
    display: inline-block;
    width: 186px;
    height: 117px;
    background: url('../images/image-map.png') no-repeat center;
    background-size: cover;
    margin-top: 2.5%;
}
.footer-top .payment {
    width: 25%;
}
.image-payment {
    display: block;
    width: 100%;
    padding-top: 29.82233502538071%;
    background: url('../images/visa_mastercard.png') no-repeat center;
    background-size: cover;
    margin-top: 10%;
}
.footer-bottom {
    height: 40px;
    background: #000000;
}
.footer-bottom .copyrights {
    width: 70%;
    text-align: right;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    opacity: 0.3;
}
.footer-bottom .our-email {
    width: 25%;
    line-height: 40px;
    font-size: 14px;
    color: #fadc26;
    text-align: right;
}
.footer-bottom .our-email a {
    line-height: 40px;
    font-size: 14px;
    color: #fadc26;
}


/* media queries */
@media (max-width: 1170px) {
    .catalog-menu {
        margin: 5px 5% 10px 0;
    }
    .reviews {
        margin: 2.5% auto;
    }
    .product-card .cost {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    .product-card .cost .cost-value {
        font-size: 22px;
        line-height: 40px;
    }
    .product-card button {
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .product-card button:before {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 1024px) {
    .header-top .text {
        font-size: 12px;
    }
    .header-bottom .left-column {
        width: 28%;
    }
    .header-bottom .right-column {
        width: 67%;
    }
    .catalog-menu {
        margin: 5px 2.5% 10px 0;
    }
    .catalog-menu .title {
        font-size: 16px;
    }
    .phones .title {
        font-size: 12px;
    }
    nav ul li a {
        font-size: 14px;
    }
    .news-title {
        font-size: 14px;
    }
    .news-text {
        font-size: 10px;
    }
    .review-text {
        height: 110px;
    }
    .footer-top .title {
        font-size: 14px;
    }
    .footer-nav ul li a {
        font-size: 12px;
    }
    .footer-bottom .copyrights, .footer-bottom .our-email, .footer-bottom .our-email a {
        font-size: 12px;
    }

}

@media (max-width: 900px) {
    .product-card .cost {
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }
    .product-card .cost .cost-value {
        font-size: 20px;
        line-height: 35px;
    }
    .product-card button {
        height: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    .product-card button:before {
        width: 20px;
        height: 20px;
    }
    .review-text {
        height: 110px;
        font-size: 11px;
    }
    .reviews li:nth-child(2) {
        margin: 0 4%;
    }
    .footer-nav {
        width: 25%;
    }
    .footer-top .title {
        font-size: 12px;
    }
    .footer-top .delivery {
        width: 50%;
    }
    .footer {
        height: 200px;
    }
    .footer-top {
        height: 160px;
    }
    .wrapper {
        padding-bottom: 200px;
    }

}

@media (max-width: 800px) {
    .header-top {
        height: 4px;
    }
    .header-top .text, .slider, .catalog-menu, .phones, .info-menu, .side-panel .title, .news {
        display: none;
    }
    .mobile-sub-menu ul:nth-child(1) {
        display: block;
        width: 100%;
        padding: 30px 0 5px;
    }
    .mobile-sub-menu ul:nth-child(1) li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #545454;
    }
    .mobile-sub-menu ul:nth-child(1) li a {
        display: inline-block;
        font-size: 18px;
        padding: 2px 20px 7px;
        color: #ffffff;
    }
    .mobile-sub-menu ul:nth-child(2) {
        display: block;
        padding: 5px 0 10px;
        text-align: center;
    }
    .mobile-sub-menu ul:nth-child(2) li {
        display: block;
        font-size: 20px;
        color: #fadc26;
    }
    .border-line {
        display: none;
    }
    .header-bottom .basket {
        display: block;
        margin: 0;
        position: absolute;
        right: 5%;
        top: 0;
    }
    .basket .goods-amount {
        width: 60px;
        font-size: 12px;
        padding: 17% 0 17% 10px;
    }
    .basket .icon-basket {
        width: 30px;
        height: 30px;
    }
    .header-bottom .left-column, .header-bottom .right-column {
        float: none;
        width: 100%;
        border-top: 1px solid transparent;
    }
    .logo {
        width: 32.5%;
        padding-top: 5.977979274611399%;
        margin: 1% auto;
    }
    .form-search {
        display: block;
        border: none;
        background: #ffffff;
        width: 90%;
        margin: 1% auto;
    }
    .form-search input[type="text"] {
        font-size: 14px;
        color: #1b1b1b;
        padding: 5px 10px 5px 25px;
    }
    .form-field::-webkit-input-placeholder {font-size: 14px;color: #1b1b1b;opacity: 1;}
    .form-field::-moz-placeholder {font-size: 14px;color: #1b1b1b;opacity: 1;}
    .form-field:-moz-placeholder {font-size: 14px;color: #1b1b1b;opacity: 1;}
    .form-field:-ms-input-placeholder {font-size: 14px;color: #1b1b1b;opacity: 1;}
    .form-search:after {
        width: 20px;
        height: 20px;
        background: url('../images/sprite-search.png') no-repeat right center;
        background-size: cover;
        right: 20px;
        top: 4px;
    }
    .mobile-menu {
        display: block;
        width: 32px;
        height: 26px;
        background: url('../images/icon-menu.png') no-repeat center;
        background-size: cover;
        position: absolute;
        left: 5%;
        top: 20px;
    }
    .side-panel, .main-panel {
        width: 100%;
        float: none;
    }
    .mobile-catalog {
        display: block;
    }
    .catalog-menu {
        display: none;
        width: 100%;
        padding: 0;
        margin: 0;
        background: #ececec;
        text-align: center;
    }
    .catalog-menu .title {
        display: block;
        font-family: "OpenSans SemiBold", sans-serif;
        font-size: 16px;
        color: #1b1b1b;
        text-transform: uppercase;
        border-bottom: 1px solid #1b1b1b;
        text-align: center;
    }
    .catalog-menu .title:after {
        display: none;
    }
    .catalog-menu:hover .sub-menu, .phones:hover .sub-menu, .info-menu:hover .sub-menu {
        display: none;
    }
    .catalog-menu:hover .title, .phones:hover .title, .info-menu:hover .title {
        color: #1b1b1b;
    }
    .catalog-menu .sub-menu {
        width: 100%;
        background: #ececec;
        position: static;
    }
    .catalog-menu .sub-menu li, nav ul li {
        display: block;
        width: 90%;
        margin: 0 auto;
        border-bottom: 1px solid #1b1b1b;
    }
    .catalog-menu .sub-menu li:last-child, nav ul li:last-child {
        border-bottom: none;
    }
    .catalog-menu .sub-menu li a, nav ul li a {
        display: block;
        color: #000000;
        text-align: center;
        padding: 5px 10px;
        font-family: "OpenSans Regular", sans-serif;
    }
    .main-catalog {
        padding: 0;
    }
    .side-panel {
        background: #1b1b1b;
        text-align: center;
    }
    .side-panel .prints-title {
        display: inline-block;
        padding: 0;
        text-align: center;
        color: #ffffff;
        height: 40px;
        font-family: "OpenSans SemiBold", sans-serif;
        font-size: 18px;
        line-height: 40px;
        position: relative;
        text-transform: uppercase;
    }
    .side-panel .prints-title:after {
        content: '';
        display: block;
        width: 18px;
        height: 9px;
        background: url('../images/sprite-arrows.png') no-repeat right center;
        background-size: cover;
        position: absolute;
        right: -20%;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    nav {
        display: none;
        background: #ececec;
    }
    nav ul {
        border: none;
        margin-bottom: 0;
    }
    .main-catalog .main-panel ul {
        margin: 5% 0;
    }
    .product-card {
        width: 40%;
    }
    .product-image {
        border: none;
    }
    .product-card .cost {
        display: block;
        width: 45%;
        height: 45px;
        background: #1b1b1b;
        font-size: 16px;
        color: #ffffff;
        line-height: 45px;
    }
    .product-card .cost .cost-value {
        font-family: "OpenSans ExtraBold", sans-serif;
        color: #ffffff;
        font-size: 28px;
        line-height: 45px;
    }
    .product-card button {
        display: block;
        width: 55%;
        height: 45px;
        background: #f79c2d;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 45px;
        color: #ffffff;
        font-family: "OpenSans Regular", sans-serif;
        padding-left: 15%;
        position: relative;
    }
    .product-card button:before {
        content: '';
        display: block;
        width: 35px;
        height: 35px;
        background: url('../images/icon-cart-white.png') no-repeat center;
        background-size: cover;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10%;
    }
    .product-card:hover .product-image {
        border: none;
    }
    .product-image:hover .product-name {
        text-decoration: none;
    }
    .reviews li {
        display: block;
        width: 87%;
        margin: 0 auto;
    }
    .reviews li:nth-child(2) {
        margin: 5% auto;
    }
    .reviewer-name {
        font-size: 16px;
    }
    .review-date {
        font-size: 14px;
    }
    .review-text {
        height: auto;
        padding: 5%;
        font-size: 16px;
    }
    .social-links {
        display: block;
        text-align: center;
    }
    .social-links li {
        margin: 2% 1.5% 5%;
    }
    .social-links li a {
        display: block;
        width: 75px;
        padding-top: 75px;
    }
    .social-links .icon-vk {
        background: #6996c7 url('../images/sprite-social.png') no-repeat left center;
        background-size: cover;
    }
    .social-links .icon-tw {
        background: #28c3ff url('../images/sprite-social.png') no-repeat center center;
        background-size: cover;
    }
    .social-links .icon-google {
        background: #ff6d4a url('../images/sprite-social.png') no-repeat right center;
        background-size: cover;
    }
    .footer {
        height: 255px;
    }
    .footer-top {
        height: 195px;
    }
    .footer-bottom {
        height: 60px;
    }
    .footer-top .footer-nav {
        display: none;
    }
    .footer-top .delivery {
        width: 55%;
    }
    .footer-top .payment {
        width: 45%;
    }
    .footer-top .title {
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }
    .image-payment {
        width: 85%;
        padding-top: 25%;
        margin: 20px auto 0;
    }
    .wrapper {
        padding-bottom: 270px;
    }
    .footer-bottom .copyrights, .footer-bottom .our-email {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 30px;
        line-height: 30px;
    }

}

@media (max-width: 640px) {
    .mobile-menu {
        width: 28px;
        height: 23px;
        top: 15px;
    }
    .basket .goods-amount {
        width: 60px;
        font-size: 12px;
        padding: 12% 0 12% 10px;
    }
    .product-card .cost {
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
    .product-card .cost .cost-value {
        font-size: 22px;
        line-height: 40px;
    }
    .product-card button {
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    .product-card button:before {
        width: 25px;
        height: 25px;
    }
    .image-payment {
        margin: 40px auto 0;
    }
    .footer-top .title {
        font-size: 12px;
        margin-top: 10px;
    }
    .form-search {
        display: block;
        border: none;
        background: #ffffff;
        width: 90%;
        margin: 1% auto 3%;
    }
}

@media (max-width: 540px) {
    .logo {
        width: 160px;
        padding-top: 29px;
        margin: 2% auto;
    }
    .product-card .cost {
        height: 35px;
        font-size: 12px;
        line-height: 35px;
    }
    .product-card .cost .cost-value {
        font-size: 20px;
        line-height: 35px;
    }
    .product-card button {
        height: 35px;
        font-size: 14px;
        line-height: 35px;
    }
    .product-card button:before {
        width: 20px;
        height: 20px;
    }
    .reviewer-name, .review-text {
        font-size: 14px;
    }
    .review-date {
        font-size: 12px;
    }
    .image-payment {
        margin: 50px auto 0;
    }
}

@media (max-width: 420px) {
    .logo {
        margin-left: 15%;
    }
    .form-search input[type="text"] {
        font-size: 12px;
    }
    .form-field::-webkit-input-placeholder {font-size: 12px;color: #1b1b1b;opacity: 1;}
    .form-field::-moz-placeholder {font-size: 12px;color: #1b1b1b;opacity: 1;}
    .form-field:-moz-placeholder {font-size: 12px;color: #1b1b1b;opacity: 1;}
    .form-field:-ms-input-placeholder {font-size: 12px;color: #1b1b1b;opacity: 1;}
    .form-search:after {
        width: 15px;
        height: 15px;
        right: 20px;
        top: 4px;
    }
    .product-card .cost {
        font-size: 10px;
    }
    .product-card .cost .cost-value {
        font-size: 18px;
    }
    .product-card button {
        font-size: 12px;
    }
    .product-card button:before {
        width: 20px;
        height: 20px;
    }
    .social-links li a {
        width: 50px;
        padding-top: 50px;
    }
    .image-map {
        width: 140px;
        height: 88px;
        margin-top: 20px;
    }
    .footer {
        height: 235px;
    }
    .footer-top {
        height: 175px;
    }
}

@media (max-width: 360px) {
    .basket .goods-amount {
        width: 45px;
        font-size: 10px;
        padding: 12% 0 12% 5px;
    }
    .product-card {
        width: 45%;
    }
    .reviews li {
        width: 98%;
    }

}